/*
To Heydon Pickering, I say thank you sir https://github.com/Heydon/fukol-grids
*/

/* The Fukol CSS 'grid system' */

.fukol-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.fukol-grid > * {
  flex: 1 0 10em;
  margin: 0.5em;
}

.fukol-grid > *:first-child {
  flex-basis: calc(100% - 1em);
}

.fukol-grid > *:nth-child(6) {
	flex-basis: calc(100% - 1em);
}






/* Grid Styles */

* {
  box-sizing: border-box; /* should be covered by reset */
}


html, body {
  padding: 1em;
  margin: 0 auto;
  max-width: 100em;
  line-height: 1.5;
  font-family: 'PT Mono', serif;
  
}

body * + * {
  margin-top: 1.5em;
  
  
}

.fukol-grid > * {
  background: #fff;
  padding: 1em;
  color: #444;
  /*border: 1px solid #333;*/
  text-align: center;
}

#main_content {
	margin-top: 10rem;
}

/***********************************************
CONTENT STYLING
***********************************************/

/* Skip to navigation link */
.hidden {
  position:absolute;
  left: -10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

nav {
	width: 100%;
}

nav a {
	font-size: 1.3em;
	cursor: pointer;
	color: #444; /* #444 decreases eye-strain and strengthens reading stamina as opposed to #000 */
	margin: 1.3em;
	padding: 0.3em;
	width: 50dp;
	text-decoration: underline;
	
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

h3{
  font-size: 1.5em;
  font-weight: normal;
}

button {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 2vh;
  background-color: #fff;
  font-size: 1.5em;
  font-family: 'PT Mono', serif;
  font-weight: 500;
  
}

button:hover, button:focus {
  top: -2px;
}

/***********************************************
MEDIA QUERIES
***********************************************/

@media screen and (max-width: 768px) {
  
 .fukol-grid > *:nth-child(2) {
  flex-basis: calc(100% - 1em);
}
 
  .fukol-grid > *:nth-child(3) {
  flex-basis: calc(100% - 1em);
}
  .fukol-grid > *:nth-child(4) {
  flex-basis: calc(100% - 1em);
}
  .fukol-grid > *:nth-child(5) {
  flex-basis: calc(100% - 1em);
}
  
   a {
	display: block;
	}
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.7em;
  }
  
  h3 {
    font-size: 1.3em;
  }
  
}
